@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.repoList {
  display: flex;
  justify-content: center;
}

.repoSearch {
  margin: 4% 0;
}

.repoCard {
  width: 33%;
  padding: 10px 10px;
  border: 1px black solid;
  margin: 1%;
}

label {
  margin-right: 3%;
}

button { 
  margin-left: 1%;
  padding: 10px 20px;
  background-color: #52606D;
  color: white;
  font-size: .9rem;
  font-weight: 700;
  border: 0;
}

.titles { 
  font-weight: 600;
}

body {
  font-family: 'Roboto', sans-serif;
}